<!-- <mat-toolbar>
  <span style="color:#3F51B5;">Article Portal</span>
  <span class="spacer"></span>

  <button mat-raised-button color="primary" *ngIf="isLoggedIn()" routerLink="/creat-article">Create Article</button>
  <button mat-raised-button color="primary" *ngIf="!isLoggedIn()" routerLink="/login">Login</button>
  <button mat-raised-button color="primary" *ngIf="!isLoggedIn()" routerLink="/register">Signup</button>
  <button mat-raised-button color="primary" *ngIf="isLoggedIn()" routerLink="/logout">Logout</button>
</mat-toolbar> -->

<link rel="icon" type="image" href="src\assets\logo.png">
<app-header></app-header>
<router-outlet></router-outlet>
