<div class="article-list">
  <h2>Hello {{getUser()}}!</h2>
  <div *ngIf="articles.length > 0; else noArticles">
    <div class="article-container" *ngFor="let article of articles">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{article.title}}</mat-card-title>
          <mat-card-subtitle>Posted By: {{article.authorUsername}}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>{{article.body | slice:0:80}}...</p>
        </mat-card-content>

        <div class="image-gallery">
          <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile *ngFor="let file of article.articleImages; let i = index;">
              <img [src]="file.url" alt="Article Image">
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <mat-card-actions>
          <button (click)="viewArticle(article.id)" class="button-icon-animate">
            <mat-icon>expand_more</mat-icon> Read More
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <ng-template #noArticles>
    <div class="no-articles">No articles available.</div>
  </ng-template>
</div>
<mat-paginator [length]="totalElements"
               [pageSize]="pageSize"
               [pageIndex]="pageNo"
               (page)="onPageChange($event)">
</mat-paginator>
