body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.article-list {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #3F51B5;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  color: #3F51B5;
  font-size: 25px;
}

.article-container {
  margin: 20px 0;
}

mat-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  color: #3F51B5;
  font-size: 25px;
}

mat-card-subtitle {
  color: #888;
  font-size: 14px;
}

mat-card-content p {
  color: #555;
  overflow-wrap: break-word;
}

mat-card-actions {
  text-align: right;
}

.button-icon-animate {
  background-color: #3F51B5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-icon-animate mat-icon {
  transition: transform 0.3s ease-in-out;
  margin-right: 5px;
}

.button-icon-animate:hover {
  background-color: #6a77c6;
}

.button-icon-animate:hover mat-icon {
  transform: rotate(90deg);
}

.no-articles {
  color: #555;
  font-size: 18px;
}
