<mat-toolbar>
  <img src="assets/logo.png" alt="Logo" style="height:40px; margin-right: 10px;">
  <span style="color:#3F51B5;">Article Portal</span>
  <span class="spacer"></span>

  <button mat-raised-button color="primary" class="toolbar-button" *ngIf="isLoggedIn && !isAdmin" routerLink="/creat-article">
    <mat-icon>create</mat-icon> Create Article
  </button>

  <button mat-raised-button color="primary" class="toolbar-button" *ngIf="isLoggedIn && isAdmin" routerLink="/disabeled-article">
    <mat-icon>block</mat-icon> Disabled Articles
  </button>

  <button mat-raised-button color="primary" class="toolbar-button" routerLink="/list-article">
    <mat-icon>list</mat-icon> List of Articles
  </button>

  <button mat-raised-button color="primary" class="toolbar-button" *ngIf="!isLoggedIn" routerLink="/login">
    <mat-icon>login</mat-icon> Login
  </button>

  <button mat-raised-button color="primary" class="toolbar-button" *ngIf="!isLoggedIn" routerLink="/register">
    <mat-icon>person_add</mat-icon> Signup
  </button>


  <button mat-raised-button color="primary" class="toolbar-button" *ngIf="isLoggedIn" routerLink="/logout">
    <mat-icon>logout</mat-icon> Logout
  </button>

</mat-toolbar>

<router-outlet></router-outlet>
