<div class="disabeled-article-list">

  <ng-container *ngIf="articles.length > 0; else noArticles">
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

    <div class="article-container" *ngFor="let article of articles">
      <div *ngIf="searchText === '' || article.title.toLowerCase().includes(searchText.toLowerCase())">

        <mat-card>
          <mat-card-header>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>Posted By: {{article.authorUsername}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{article.body | slice:0:80}}...</p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="viewArticle(article.id)" class="button-icon-animate">
              <mat-icon>expand_more</mat-icon> Read More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-container>

  <ng-template #noArticles>
    <div class="no-articles">No articles available.</div>
  </ng-template>

</div>
